/* conf for sindresorhus/github-markdown-css */
.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

/* 隱藏目錄 ul 和 li 預設的圓點 */
nav.table-of-contents ul,
nav.table-of-contents li {
  list-style: none;
}
